<!DOCTYPE HTML>
<html lang="kr">
  <title>Dragnnect-client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Flask test</title>
  </head>
 
  <body>
    <header>
      <div class="topnav" id = "menu">
          <a class="tablinks" id="tab-1" href="/">Login</a>
          <a class="tablinks" id="tab-2" href="/check">Check</a>
      </div>

    </header>
 
    <main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
  </body>
</html>